<section id="intro">
	<!-- Header -->
	<div class="intro-header" style="background-color:#027e5c;">

		<div class="container">
			<div class="row">
				<div class="col-lg-12">
				<!-- <div class="intro-image col-md-4"></div> -->
					<div class="intro-message" style="color:white;">
						<h1>{{ .Site.Title }}</h1>
						<h3>{{ .Site.Params.description }}</h3>
						<hr class="intro-divider">
						<img src="https://ucf0e25edbef902687dd0af34ffb.previews.dropboxusercontent.com/p/thumb/AA-VQ9azc6xCProlpwmKN16-EqKwlFiutP47uPLsTTGEqTbJYPyJhHyeva-n2o6Bcq2THY1tAkT4UNBVao8yDAHTfn6FJ0Qmul01fuEU4QtoYzQE-3ZGC8ZG4zBUvKreUk4_WOk5JeEN5ODjdTvUWeC8coYGGZTLfS67oFBTuuw5GaBaOQo1e1hgyfbajMnV_NSIVguJ8vZx54QLheaHxXfpOY0wV1DF9w0LLVpYUEalgL0PmhjHvDHWUNIzmz0LzAck0ec4DtaAmhuS2YRciutjvnpTEIuzEAdeihXxCwPZxHTCWf0QuL9w4-_2qrJSGf0grfCp-rbUL8wRLSMCg8mMNIQnEXeXTEsilIDYjJ8a1_DH1XJDCzLnWNZXmxQ_0Q7x35xgvdvScoSRa__YasY9/p.png?fv_content=true&size_mode=5" name="logo" width="600px">
						
						<ul class="list-inline intro-social-buttons">
						{{ partial "social" . }}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.intro-header -->
</section>
