<section id="intro">
	<!-- Header -->
	<div class="intro-header" style="background-color:#027e5c">

		<div class="container" >
			<div class="row">
				<div class="col-lg-12">
				<!-- <div class="intro-image col-md-4"></div> -->
					<div class="intro-message">
						<h1 style="color:white">{{ .Site.Title }}</h1>
						<h3 style="color:white">{{ .Site.Params.description }}</h3>
						<hr class="intro-divider">
						<img src="https://ucb58a5d1f697bb89750330498bf.previews.dropboxusercontent.com/p/thumb/AA9H_25XjCF_lycHY93pynrs-gz807nafLQHAUV4u5KsqAcTV3eKscYj1mtnT2s-feXd2s9JpmibhNhDUvPfHFudYRcvtL7wz-6RrG2rkqL_i3WwXUl2cOLZQ2_O-4Kz5P_-RTGWqVtoaYrkhfOPYWoXibeEi0yiRdVeFsahiUeVI6no1CpLO3fzxPxPtd91w1KzZOqPXcOzPS3gwkhwL07_iQj7MvHKVr35qgPBCsQ3_WJSMW1b9o__Q9zb2wLc59oX6fvzuoQyirCrsVJDkRD2qFpkTpffrwjv49GYqXNaaE1uzi3rZCrP0baVwSDP3j18yr9fdKy4ZTwWBwtc4kzkFPyJSi4u-nikJYcFNxTYj97Hbtj0CqxIMFl9Xsh95S366Wz_oXwcd1TctxgVpHSH/p.png?fv_content=true&size_mode=5" width="600px">
						<ul class="list-inline intro-social-buttons">
						{{ partial "social" . }}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.intro-header -->
</section>
