<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: #FF6720;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll" style="margin-left: -15px;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="margin-right: 0px;" style="color: white">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" style="background-color: white;"></span>
                <span class="icon-bar" style="background-color: white;"></span>
				<span class="icon-bar" style="background-color: white;"></span>
            </button>
            <a class="navbar-brand page-scroll" style="padding-left: 0px;margin-left: 0px; color: white;" href="#intro">
            {{ .Site.Title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" >
				{{ if isset .Site.Params "author_url" }}
				<li>
					<a class="page-scroll" href="{{ .Site.Params.author_url }}" style="color: white">
                    Proposal
					</a>
                </li>
				{{ end }}
				{{ if (fileExists "application/application.md") -}}
						<li>
							<a href="{{ "application/application" | absURL }}" style="color: white">Application</a>
						</li>
						{{- end }}
				{{ if (fileExists "poster/poster.md") -}}
						<li>
							<a href="{{ "poster/poster" | absURL }}" style="color: white">Poster</a>
						</li>
						{{- end }}
				{{ if (fileExists "research_paper/research_paper.md") -}}
						<li>
							<a href="{{ "research_paper/research_paper" | absURL }}" style="color: white">Research Paper</a>
						</li>
						{{- end }}
				{{ if (fileExists "about_us/about_us.md") -}}
						<li>
							<a href="{{ "about_us/about_us" | absURL }}" style="color: white">About Us</a>
						</li>
						{{- end }}
				
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
